.basic {
  font-size: var(--heading2);
  font-weight: 700;
  letter-spacing: 0.15em;
}

.box {
  composes: basic;
  display: inline-block;
  padding: 0.7em 1em;
  background-color: var(--gray-75);
  color: var(--white);
  font-size: var(--small-heading2);
}

.icon {
  padding: 10px;
  display: inline-block;
  transform: rotate(-45deg);
  transition: transform 0.4s;
  position: relative;
}

.box:hover .icon {
  transform: rotate(0deg);
}
